# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# vscode project files
.vscode

# Windows thumbnail cache
Thumbs.db

# MacOS DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# local configs
.env
.env.test

# php-cs-fixer itself is not needed
php-cs-fixer.phar

# cache for php-cs-fixer
.php-cs-fixer.cache
